section.about 
	.container 
		.about__title
			.title-2 ЧТО ТАКОЕ MAXMARKET ДЛЯ ПОКУПАТЕЛЕЙ? 
		.about__row 
			.about__video--inner
					<iframe data-src="https://www.youtube.com/embed/LhY923w2ODg"  src="" title="Работа с оптовыми заказами на Maxmarket24.ru" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			.about__desc 
				p 
					b MaxMarket — онлайн-площадка, которую ежедневно посещают тысячи потенциальных клиентов в поисках товаров.
				p 
					| Каждый день мы обрабатываем колоссальное количество заказов от покупателей. Все больше жителей Москвы ежедневно выбирают MaxMarket как платформу для покупок, ведь здесь их ждут лучшие цены, 
					b бесплатная доставка 
					| за 3 часа и отличный сервис!
				p В нашем сотрудничестве мы напрямую заинтересованы в повышении ваших продаж, ведь с каждой вашей продажей зарабатываем и мы!
			.about__video
				<iframe data-src="https://www.youtube.com/embed/LhY923w2ODg" src="" title="Работа с оптовыми заказами на Maxmarket24.ru" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>