section.appeal
	.container 
		.appeal__row 
			.appeal__title
				.title-2 ОБРАЩЕНИЕ ГЕНЕРАЛЬНОГО ДИРЕКТОРА ООО "МАКСМАРКЕТ"
			.appeal__video
				<iframe data-src="https://www.youtube.com/embed/xTkGvWaZL_o"  src="" title="Максим Ильин — генеральный директор и основатель маркетплейса МаксМаркет" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>