section.benefits
	.container 
		.benefits__row 
			.benefits__desc
				.benefits__title Вам больше не нужно тратить время и деньги
				.benefits__img--inner 
					img.benefits__img-img(src="./img/start/02.svg", alt="benefits")
				ul.benefits__list
					li.benefits__item на выбор товара,
					li.benefits__item создание продающего сайта,
					li.benefits__item настройку эффективной рекламы,
					li.benefits__item обработку заявок,
					li.benefits__item организацию доставки,
					li.benefits__item составление бухгалтерских отчетов и остальные нюансы!
			.benefits__img 
				img.benefits__img-img(src="./img/start/02.svg", alt="benefits")