section.diff 
	.container 
		.diff__title 
			.title-2 ОТЛИЧИЕ ОТ ВИТРИН
		.diff__row 
			.diff__card.diff__card--left 
				.diff__icon.diff__icon--left 
					img(src="./../../img/start/diff-01.svg", alt="")
				.diff__card-title MaxMarket
				ul.diff__list 
					li.diff__item Можно закупать товары оптом;
						.diff__line.diff__line--left
					li.diff__item Гарантия продажи товаров, прописанная в договоре;
						.diff__line.diff__line--left
					li.diff__item Не требует доставки на свой склад и платы за хранение;
						.diff__line.diff__line--left
					li.diff__item Есть партнёрская программа. 
			.diff__card 
				.diff__icon.diff__icon--right 
					img(src="./../../img/start/diff-02.svg", alt="")
				.diff__card-title Другие маркетплейсы
				ul.diff__list 
					li.diff__item Нельзя закупать товары оптом;
						.diff__line.diff__line--right
					li.diff__item Не даёт поставщиков, не гарантирует продажу;
						.diff__line.diff__line--right
					li.diff__item Большинство просят доставку на их склад;
						.diff__line.diff__line--right
					li.diff__item Нет партнёрских программ для продавцов