.footer 
	.container 
		.footer__row
			.footer__logo 
				img(src="./img/start/logo.png", alt="logo")
			.footer__copyright © 2016-2022 Маркетплейс нового поколения. ООО "МАКСМАРКЕТ" ИНН 5000000000, КПП 500000000
			.footer__conf
				a(href="#!") Политика конфиденциальности