.header__logo.logo
	img.logo__img(src="./img/start/logo.png", alt="logo")
.header__nav.nav
	ul.nav__list
		.nav__item 
			a(href="#main") Главная
		.nav__item 
			a(href="#variants") Схема работы
		.nav__item 
			a(href="#why") О MaxMarket
		.nav__item 
			a(href="#contacts") Контакты
.header__phone
	a(href="tel:+7900000000") +7 (900) 00-00-00
//- button.mobile-nav-btn
//- 	.nav-icon