section.indicators
	.container
		.indicators__title
			.title-2 ТЕКУЩИЕ ПОКАЗАТЕЛИ
		.indicators__row
			.indicators__card.i-card
				.i-card__count(data-val='400000') 
				.i-card__line
				.i-card__desc Посещаемость — 400 000 пользователей в месяц
			.indicators__card.i-card
				.i-card__count(data-val='25000000') 
				.i-card__line
				.i-card__desc Сумма покупок 25 000 000 в месяц
			.indicators__card.i-card
				.i-card__count(data-val='8500') 
				.i-card__line
				.i-card__desc Средний чек - 8 500 руб
			.indicators__card.i-card
				.i-card__count(data-val='1500') 
				.i-card__line
				.i-card__desc Более 1500 заказов ежемесячно
			.indicators__card.i-card
				.i-card__count(data-val='76') 
				.i-card__line
				.i-card__desc 76% уникальных посетителей
			.indicators__card.i-card
				.i-card__count(data-val='35') 
				.i-card__line
				.i-card__desc 35% повторных покупок