.mobile-nav
	ul.mob__list
		.mob__item 
			a(href="#start") Главная
		.mob__item 
			a(href="#variants") Схема работы
		.mob__item 
			a(href="#why") О MaxMarket
		.mob__item 
			a(href="#contacts") Контакты
	.mob__phone 
			a(href="tel:+7900000000") +7 (900) 00-00-00
	