section.start#start
	.container 
		.start__row 
			.start__desc 
				.start__title 
					h1.title-1 НАЧНИ БИЗНЕС ПО ПРОДАЖЕ ТОВАРОВ<br> ЗА ТРИ ПРОСТЫХ ШАГА
				.start__subtitle 
					p Проще чем дропшиппинг или франшиза, эффективнее<br> чем интернет-магазин с нуля!
				.start__img-inner 
					img.start__img-img(src="./img/start/01.svg", alt="foto")
				a.start__btn.btn Узнать подробнее
			.start__img
				img.start__img-img(src="./img/start/01.svg", alt="foto")