section.steps 
	.container 
		.steps__row
			.steps__accent-title МаксМаркет — это самый быстрый старт<br> бизнеса по продаже товаров!
			.steps__cards
				.steps__card.s-card
					.s-card__number 1
					.s-card__text Регистрируйся<br> на платформе
				.steps__card.s-card
					.s-card__number 2
					.s-card__text Выбирай<br> чем торговать
				.steps__card.s-card
					.s-card__number 3
					.s-card__text Реализуй товар на площадке<br> гарантированно за 30 дней
				