section.variants
	.container 
		.variants__row 
			.variants__subtitle Мы подскажем что лучше продается именно сейчас, организуем процесс продаж и логистику, вам нужно только закупить товар.
			.variants__title
				h2.title-2#variants ВАРИАНТЫ СОТРУДНИЧЕСТВА
			.variants__board.board 
				.board__btns 
					button.board__btn.board__btn--active#btn-1 Самостоятельная доставка
					button.board__btn#btn-2 Полный аутсорс
				.board__contents 
					.board__content.board__content--active#tab-1
						.board__card.card
							.card__img 
								img(src="./img/start/var-0.svg", alt="variant")
							.card__text Регистрируйтесь<br> на сайте
						.board__card.card
							.card__img 
								img(src="./img/start/var-1.svg", alt="variant")
							.card__text Выбирайте товар и покупайте по 
								b оптовой цене
						.board__card.card
							.card__img 
								img(src="./img/start/var-2.svg", alt="variant")
							.card__text Maxmarket продаёт товар 
								b за 30 дней
						.board__card.card
							.card__img 
								img(src="./img/start/var-3.svg", alt="variant")
							.card__text Доставляйте товары 
								b в своем городе
						.board__card.card
							.card__img 
								img(src="./img/start/var-4.svg", alt="variant")
							.card__text 
								b Получайте прибыль 
								| с продажи каждую неделю!
					.board__content#tab-2
						.board__card.card
							.card__img 
								img(src="./img/start/var-0.svg", alt="variant")
							.card__text Регистрируйтесь на сайте
						.board__card.card
							.card__img 
								img(src="./img/start/var-1.svg", alt="variant")
							.card__text Выбирайте товар и покупайте по 
								b оптовой цене
						.board__card.card
							.card__img 
								img(src="./img/start/var-3.svg", alt="variant")
							.card__text Доставляйте товары 
								b в своем городе
						.board__card.card
							.card__img 
								img(src="./img/start/var-4.svg", alt="variant")
							.card__text 
								b Получайте прибыль 
								| с продажи каждую неделю!