section.why#why
	.container 
		.why__row 
			.why__img 
				img(src="./img/start/why.svg", alt="why")
			.why__desc
				.why__title 
					h2.title-2 ЗАЧЕМ НАМ РАБОТАТЬ ВМЕСТЕ?
				.why__accordion.acc
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 Почему вы сами не закупаете товар и не забираете всю прибыль себе?
							.acc__img 
						.acc__body
								p С нами работает около 1000 партнеров и с каждым днем их становится больше. Каждый производит закупку на сумму от 30 000р. до 500 000р. Сложив суммы закупок мы получаем ОЧЕНЬ БОЛЬШОЙ опт, именно поэтому поставщик дает нам эксклюзивную цену. За счет этого зарабатываем и мы и партнеры. 
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 Почему у Вас низкие цены?
							.acc__img 
						.acc__body
								p MaxMarket работает с разнопрофильными поставщиками уже 4 года. За это время платформа помогла закупить товаров на сумму более 1 млрд рублей! Поэтому поставщики дают нашей платформе самые низкие цены на рынке.
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 Почему я сам не могу начать бизнес с нуля?
							.acc__img 
						.acc__body
								p Можете, но работая с нами вы получаете доступ к низким оптовым ценам на товары, а так же к огромному рынку сбыта.​ На нашей практике опыт и аналитика. Мы позволяем любому создать свой бизнес и вырасти.
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 Как мне продать товар?
							.acc__img 
						.acc__body
								p МаксМаркет единственная площадка которая гарантирует юридически продажу товара в течении 28 дней.
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 У меня нет ни ООО ни ИП мне нельзя с Вами работать?
							.acc__img 
						.acc__body
								p У нас белая компания, мы не работаем с физ лицами по оптовым сделкам. Но мы нашли для Вас решение! Через партнерство с Банком Точка Вы можете оформить ИП без посещения налоговой, а мы поможем Вам вести бухгалтерию.
					.acc__item
						.acc__header
							.acc__title 
								h3.title-3 Как Вы гарантируете доставку день в день?
							.acc__img 
						.acc__body
								p В нашем, а значит и вашем распоряжении сотни микроскладов по всему городу. С вероятностью в 95% расстояние от продавца к покупателю не будет превышать 1-5 км, а доставка займет максимум 3 часа. ​ 
