.variants {
	padding: 30px 0 50px;
}

.variants__subtitle {
  font-size: clamp(18px, 2.7vw, 25px);
  font-family: 'Jura',Arial,sans-serif;
  line-height: 1.25;
  font-weight: 700;
	text-align: center;

	margin-bottom: 100px;
}

.variants__title {
	margin-bottom: 30px;
}

.board__btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0;
}

.board__btn {
	width: 330px;
	border-bottom: 1px solid #d4d6ff;
	margin-bottom: 50px;

	color: var(--gray);
	text-align: center;
	font-size: 20px;
	font-weight: 400;

	&--active {
		color: var(--black);
		font-weight: 600;
		border-bottom: 1px solid #6d75fe;
	}
}

.board__content {
	padding-top: 50px;
	display: none;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	row-gap: 40px;
	// flex-wrap: wrap;

	&--active {
		display: flex;
	}
}

.card {
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card__img {
	margin-bottom: 10px;
	img{
	height: 120px;
	}
}

.card__text {
	text-align: center;
}

@media (max-width: 1023px) {
	.board__content {
		flex-wrap: wrap;
	}

	.variants__subtitle {
		margin-bottom: 50px;
	}
}

@media (max-width: 767px) {
	.board__btns {
		flex-direction: column;
		margin: 20px auto 0;
	}
	.board__btn {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

@media (max-width: 423px) {
	.board__btn {
		width: 280px;
	}
}